streamlit==1.30.0
pandas==2.2.1
numpy==1.26.4
matplotlib==3.8.4
seaborn==0.13.2
joblib==1.4.2
shap==0.45.0
xgboost==2.0.3
scikit-learn==1.4.2
vaderSentiment==3.3.2
spacy==3.7.4
gensim==4.3.2
